{
    "listen": "127.0.0.1:3000",
    "host": "example.com",
    "mysql": "mysql://root:password@114.51.48.10/db_name",
    "twitter": {
        "client_id": "OAuth 2.0 Client ID",
        "client_secret": "OAuth 2.0 Client Secret"
    },
    "google": {
        "client_id": "OAuth 2.0 Client ID",
        "client_secret": "OAuth 2.0 Client Secret"
    }
}